:root{
     --primary-color:rgb(139, 73, 244);
     --secondary-color:maroon;
}
*{
     margin:0;
     padding:0;
     box-sizing: border-box;;
}
header,footer {
     background-color: var(--primary-color);
     height: 75px;
     text-align: center;
}
main{
     width: 95vw;
     margin: 20px auto;
}
#mainContainer{
     display: flex;
     flex-wrap: wrap;
     .mainItem{
          width: 400px;
          height: 30vh;
          margin: 10px auto;
          background: rgba(165, 163, 189, 0);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(10.3px);
          -webkit-backdrop-filter: blur(10.3px);
          border: 1px solid rgba(165, 163, 189, 0.45);
          a{
               text-decoration: none;
               text-align: center;
          }
     }
}
// input{
//      display: block;
// }
#container {
     display: flex;
     // padding:20px 40px 40px 40px;
     // background: rgba(255, 255, 255, 0.04);
     // border-radius: 16px;
     // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     // backdrop-filter: blur(4px);
     // -webkit-backdrop-filter: blur(4px);
     // border: 1px solid rgba(255, 255, 255, 0.45);
     // margin:20px auto; 
     .card{
          margin:25px auto;
          padding:20px;
          width:35vw;
          height: 80vh;
          background: rgba(165, 163, 189, 0);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(10.3px);
          -webkit-backdrop-filter: blur(10.3px);
          border: 1px solid rgba(165, 163, 189, 0.45);
          fieldset {
               border-radius: 16px;
          }
          #generatedPwd{
               height: 4em;
               width: 15em;
               font-size: large;
               text-align: center;
          }
      }
 }

 fieldset *{
     margin:10px;
}
.sectionHide{
     /* display: none;   */
     visibility:hidden;
}
.sectionVisible{
     /* display:inline; */
     visibility: visible;
}
#weather{
     display: flex;
     margin: 10px;
     #city-details{
          border: 5px blueviolet dotted;
          padding: 10px;
     }
     .card{
          width:15vw;
          height:50vh;
          margin: 5px;
     }
}
.rps{
     display: flex;
     // flex-direction: column;
}
// #computer{
     
// }