:root{
     --primary-color:rgb(5, 60, 19);
     --secondary-color:rgb(139, 73, 244);
}
*{
     margin:0;
     padding:0;
     box-sizing: border-box;;
}
body{
     font-family:Arial, Helvetica, sans-serif;
}
header,footer {
     background-color: var(--primary-color);
     color: azure;
     height: 75px;
     display: flex;
     flex-basis: 1 2;
     // flex-direction: column;
     align-items: center;
     justify-content:space-between;
}
footer {
     justify-content:center;
}
main{
     width: 95vw;
     margin: 20px auto;
}
#mainContainer{
     display: flex;
     flex-wrap: wrap;
     .mainItem{
          display: flex;
          flex-direction:column ;
          justify-content: center;
          width: 500px;
          // height: 30vh;
          margin: 10px auto;
          // background: rgba(165, 163, 189, 0);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(10.3px);
          -webkit-backdrop-filter: blur(10.3px);
          border: 1px solid rgba(165, 163, 189, 0.45);
          font-size: 25px;
          a{
               text-decoration: none;
               // text-shadow: 5px;
               text-align: center;

          }
          img{
               max-width: 500px;
               border-radius: 16px 16px 0px 0px;
               // border-radius: 50%;
          }
     }
}
// input{
//      display: block;
// }
#container {
     display: flex;
     // padding:20px 40px 40px 40px;
     // background: rgba(255, 255, 255, 0.04);
     // border-radius: 16px;
     // box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
     // backdrop-filter: blur(4px);
     // -webkit-backdrop-filter: blur(4px);
     // border: 1px solid rgba(255, 255, 255, 0.45);
     // margin:20px auto; 
     .card{
          margin:25px auto;
          padding:20px;
          width:35vw;
          height: 80vh;
          background: rgba(165, 163, 189, 0);
          border-radius: 16px;
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(10.3px);
          -webkit-backdrop-filter: blur(10.3px);
          border: 1px solid rgba(165, 163, 189, 0.45);
          fieldset {
               border-radius: 16px;
          }
          #generatedPwd{
               height: 4em;
               width: 15em;
               font-size: large;
               text-align: center;
          }
      }
 }

 fieldset *{
     margin:10px;
}
.sectionHide{
     /* display: none;   */
     visibility:hidden;
}
.sectionVisible{
     /* display:inline; */
     visibility: visible;
}
#weather{
     display: flex;
     margin: 10px;
     #city-details{
          border: 5px blueviolet dotted;
          padding: 10px;
     }
     .card{
          width:15vw;
          height:50vh;
          margin: 5px;
     }
}
.rps{
     display: flex;
     // flex-direction: column;
}
// #computer{
     
// }
#home{
     height: 50px;
     border-radius: 25%;
}
