:root {
  --primary-color:rgb(5, 60, 19);
  --secondary-color:rgb(139, 73, 244);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header, footer {
  background-color: var(--primary-color);
  color: azure;
  height: 75px;
  display: flex;
  flex-basis: 1 2;
  align-items: center;
  justify-content: space-between;
}

footer {
  justify-content: center;
}

main {
  width: 95vw;
  margin: 20px auto;
}

#mainContainer {
  display: flex;
  flex-wrap: wrap;
}
#mainContainer .mainItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: 10px auto;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(165, 163, 189, 0.45);
  font-size: 25px;
}
#mainContainer .mainItem a {
  text-decoration: none;
  text-align: center;
}
#mainContainer .mainItem img {
  max-width: 500px;
  border-radius: 16px 16px 0px 0px;
}

#container {
  display: flex;
}
#container .card {
  margin: 25px auto;
  padding: 20px;
  width: 35vw;
  height: 80vh;
  background: rgba(165, 163, 189, 0);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(165, 163, 189, 0.45);
}
#container .card fieldset {
  border-radius: 16px;
}
#container .card #generatedPwd {
  height: 4em;
  width: 15em;
  font-size: large;
  text-align: center;
}

fieldset * {
  margin: 10px;
}

.sectionHide {
  /* display: none;   */
  visibility: hidden;
}

.sectionVisible {
  /* display:inline; */
  visibility: visible;
}

#weather {
  display: flex;
  margin: 10px;
}
#weather #city-details {
  border: 5px blueviolet dotted;
  padding: 10px;
}
#weather .card {
  width: 15vw;
  height: 50vh;
  margin: 5px;
}

.rps {
  display: flex;
}

#home {
  height: 50px;
  border-radius: 25%;
}